.App {
  text-align: center; 
}

div{
  margin: auto;
}
ul {
  list-style-type: none;
  padding:0;
  zoom:1;
  *display: inline-block;
}
/* input types styling */
#alert-dialog-description1{
  font-size: 200%;
  font-weight: bold;
}
/* -------------------------------------*/
#scoreboardTableContainer{
  display: flex;
  justify-content: center;
  margin: auto;
  width:24%;
  
}

#scoreboardButtonsContainer{
  display: inline;
  margin: auto;
  justify-self: center;
  align-self: auto;
  align-content: center;
  justify-content: center;
}
#startPageButtonsContainer{
  display: inline;
  justify-self: center;
  margin: auto;
 
}


/*------------------------------------------*/
/* paragraphs styling */

#questionTextParagraph{
  font-size: 25px;
}

#playersInGameroomText{
  font-size: 20px;
  font-style: bold;
}

/*-----------------------*/

/* all buttons configurations and styling down here */ 




#answersButtonList{
line-height:3em;
}


/*-------- right and wrong buttons after state change */

.disableAnswer{
  pointer-events: none;
}



/*--------------------------------------------------*/